# Análisis de Carga y Tráfico Aéreo

En este notebook se realizará la preparación de los datos necesarios para realizar los análisis relacionados con el flujo de pasajeros y carga en los diferentes aeropuertos del país.

In [151]:
import pandas as pd
df = pd.read_csv("datos originales/aeropuertos_historico_data.csv", sep=";")

In [152]:
df.head(13)

,ano,mes,origen,destino,tipo_equipo,tipo_vuelo,trafico,empresa,vuelos,sillas,carga_ofrecida,pasajeros,carga_bordo
0,2004,1,BOG,MIA,A306,R,I,AMERICAN,32,8000,362880.0,6423,226429.0
1,2004,2,BOG,MIA,A306,R,I,AMERICAN,29,7743,328860.0,4107,237123.0
2,2004,3,BOG,MIA,A306,R,I,AMERICAN,31,8277,351540.0,4332,269443.0
3,2004,4,BOG,MIA,A306,R,I,AMERICAN,30,8010,340200.0,4207,255167.0
4,2004,5,BOG,MIA,A306,R,I,AMERICAN,1,267,11340.0,156,10175.0
5,2004,6,BOG,MIA,A306,R,I,AMERICAN,0,0,0.0,0,0.0
6,2004,7,BOG,MIA,A306,R,I,AMERICAN,0,0,0.0,0,0.0
7,2004,8,BOG,MIA,A306,R,I,AMERICAN,0,0,0.0,0,0.0
8,2004,9,BOG,MIA,A306,R,I,AMERICAN,0,0,0.0,0,0.0
9,2004,10,BOG,MIA,A306,R,I,AMERICAN,0,0,0.0,0,0.0
10,2004,11,BOG,MIA,A306,R,I,AMERICAN,0,0,0.0,0,0.0
11,2004,12,BOG,MIA,A306,R,I,AMERICAN,0,0,0.0,0,0.0
12,2004,1,BOG,MIA,B752,R,I,AMERICAN,0,0,0.0,0,0.0

In [153]:
df2 = pd.read_excel("datos originales/aeropuertos.xlsx")
df2.head()

,sigla,iata,nombre,municipio,departamento,categoria,latitud,longitud,propietario,explotador,...,orientacion,elevacion,resolucion,fecha_construccion,fecha_vigencia,clase,tipo,numero_vuelos_origen,gcd_departamento,gcd_municipio
0,4JC,NaN,JUANCHACO,Buenaventura,Valle del Cauca,Aeródromo,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,76,76109
1,7FO,NaN,LA ISLA,Puerto Gaitán,Meta,Aeródromo,4.4211,-71.6271,LA ISLA Y EL ROSARIO S.A.,LA CEIBA S.A.,...,NaN,538.0,"1325,000",2015-06-05,2018-06-11,1A,Privado,2.0,50,50568
2,7FU,NaN,LA ESCONDIDA,Puerto Gaitán,Meta,Aeródromo,4.6108,-71.1935,PALMAS SICARARE S.A.S.,COSARGO S.A.S.,...,NaN,564.0,"1843,000",2013-04-26,2016-05-07,1A,Fumigación,30.0,50,50568
3,7FW,NaN,MORICHITO,Hato Corozal,Casanare,Aeródromo,5.9188,-71.7932,CARMEN NARANJO,ROBERTO C. RIAÑO P.,...,NaN,720.0,"2220,000",2009-05-07,NaN,1A,Privado,NaN,85,85125
4,7FX,NaN,CAROLINA DEL PRINCIPE,Carolina,Antioquia,Aeródromo,6.7248,-75.2909,MUNICIPIO,MUNICIPIO,...,NaN,6004.0,"6470,000",2013-11-19,NaN,1A,Público,NaN,5,5150

## Eliminar aeropuertos duplicados de la dimension aeropuerto

In [154]:
df2['sigla'].value_counts()

CUC    2
SLI    2
SLU    2
CPC    1
LAF    1
      ..
FLR    1
PUL    1
9BL    1
LLO    1
BIC    1
Name: sigla, Length: 862, dtype: int64

In [155]:
df2.loc[df2['sigla'] == 'SLU']

,sigla,iata,nombre,municipio,departamento,categoria,latitud,longitud,propietario,explotador,...,orientacion,elevacion,resolucion,fecha_construccion,fecha_vigencia,clase,tipo,numero_vuelos_origen,gcd_departamento,gcd_municipio
758,SLU,NaN,SANTA LUCIA,Ábrego,Norte de Santander,Aeródromo,8.0667,-73.2,INCORA LTDA,INCORA,...,NaN,4502.0,"842,000",NaN,NaN,2B,Público,1.0,54,54003
759,SLU,NaN,SANTA LUCIA,Ábrego,Norte de Santander,Aeródromo,8.0667,-73.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,54,54003

In [156]:
df2.loc[df2['sigla'] == 'CUC']

,sigla,iata,nombre,municipio,departamento,categoria,latitud,longitud,propietario,explotador,...,orientacion,elevacion,resolucion,fecha_construccion,fecha_vigencia,clase,tipo,numero_vuelos_origen,gcd_departamento,gcd_municipio
344,CUC,CUC,CAMILO DAZA,San José de Cúcuta,Norte de Santander,Internacional,7.9274,-72.5116,AEROCIVIL,AEROCIVIL -ORIENTE S.A.S.,...,NaN,1027.0,"984,000",1987-02-02,NaN,4D,Aerocivil,72216.0,54,54001
345,CUC,CUC,CAMILO DAZA No.2,San José de Cúcuta,Norte de Santander,Internacional,7.9274,-72.5116,AEROCIVIL,AEROCIVIL -ORIENTE S.A.S.,...,NaN,1027.0,"984,000",1987-02-02,NaN,4A,Aerocivil,NaN,54,54001

In [157]:
df2.loc[df2['sigla'] == 'SLI']

,sigla,iata,nombre,municipio,departamento,categoria,latitud,longitud,propietario,explotador,...,orientacion,elevacion,resolucion,fecha_construccion,fecha_vigencia,clase,tipo,numero_vuelos_origen,gcd_departamento,gcd_municipio
753,SLI,NaN,LA BRAMADORA,Orocué,Casanare,Aeródromo,5.1914,-71.7439,SILVANA REYES DIAZ,SILVANA REYES DIAZ,...,NaN,544.0,"7088,000",NaN,NaN,1A,Privado,2.0,85,85230
754,SLI,NaN,LA BRAMADORA,Orocué,Casanare,Aeródromo,5.1914,-71.7439,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,85,85230

In [158]:
df2.drop([345, 759, 754], inplace=True)

In [159]:
df2['sigla'].value_counts()

CPC    1
9BD    1
SRO    1
PFO    1
9NK    1
      ..
GRN    1
FLR    1
PUL    1
9BL    1
BIC    1
Name: sigla, Length: 862, dtype: int64

In [160]:
aero = df2
historico = df
aero.head()

,sigla,iata,nombre,municipio,departamento,categoria,latitud,longitud,propietario,explotador,...,orientacion,elevacion,resolucion,fecha_construccion,fecha_vigencia,clase,tipo,numero_vuelos_origen,gcd_departamento,gcd_municipio
0,4JC,NaN,JUANCHACO,Buenaventura,Valle del Cauca,Aeródromo,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,76,76109
1,7FO,NaN,LA ISLA,Puerto Gaitán,Meta,Aeródromo,4.4211,-71.6271,LA ISLA Y EL ROSARIO S.A.,LA CEIBA S.A.,...,NaN,538.0,"1325,000",2015-06-05,2018-06-11,1A,Privado,2.0,50,50568
2,7FU,NaN,LA ESCONDIDA,Puerto Gaitán,Meta,Aeródromo,4.6108,-71.1935,PALMAS SICARARE S.A.S.,COSARGO S.A.S.,...,NaN,564.0,"1843,000",2013-04-26,2016-05-07,1A,Fumigación,30.0,50,50568
3,7FW,NaN,MORICHITO,Hato Corozal,Casanare,Aeródromo,5.9188,-71.7932,CARMEN NARANJO,ROBERTO C. RIAÑO P.,...,NaN,720.0,"2220,000",2009-05-07,NaN,1A,Privado,NaN,85,85125
4,7FX,NaN,CAROLINA DEL PRINCIPE,Carolina,Antioquia,Aeródromo,6.7248,-75.2909,MUNICIPIO,MUNICIPIO,...,NaN,6004.0,"6470,000",2013-11-19,NaN,1A,Público,NaN,5,5150

In [161]:
print('Cantidad de datos originales:',len(historico.index) )
historico.head()

Cantidad de datos originales: 605448

,ano,mes,origen,destino,tipo_equipo,tipo_vuelo,trafico,empresa,vuelos,sillas,carga_ofrecida,pasajeros,carga_bordo
0,2004,1,BOG,MIA,A306,R,I,AMERICAN,32,8000,362880.0,6423,226429.0
1,2004,2,BOG,MIA,A306,R,I,AMERICAN,29,7743,328860.0,4107,237123.0
2,2004,3,BOG,MIA,A306,R,I,AMERICAN,31,8277,351540.0,4332,269443.0
3,2004,4,BOG,MIA,A306,R,I,AMERICAN,30,8010,340200.0,4207,255167.0
4,2004,5,BOG,MIA,A306,R,I,AMERICAN,1,267,11340.0,156,10175.0

## Eliminar datos de vuelo con mas carga ocupada que ofrecida / pasajeros que sillas

In [162]:
historico = historico[historico.sillas >= historico.pasajeros]
print('Cantidad de datos con más sillas que pasajeros:',len(historico.index) )

Cantidad de datos con más sillas que pasajeros: 309946

In [163]:
historico = historico[historico.carga_ofrecida >= historico.carga_bordo]
print('Cantidad de datos con más carga_ofrecida que carga_bordo:',len(historico.index) )

Cantidad de datos con más carga_ofrecida que carga_bordo: 285412

## Eliminar datos de vuelos de los que no se tienen aeropuertos

In [164]:
aero_sigle = aero['sigla']
origen_column = historico['origen']
destino_column = historico['destino']

origen_vector = historico['origen'].isin(aero_sigle)
destino_vector = historico['destino'].isin(aero_sigle)

ambas = origen_vector & destino_vector
historico_coherente = historico.loc[ambas]

print('El número de registros en históricos con '
      'datos de origen y destino en aeropuertos es: '
      '',ambas.values.sum())
print('El número de registros a eliminar de históricos por'
      ' inconsistencias es: ',historico.shape[0] - ambas.values.sum()) #Registros a eliminar en histórico

print(len(origen_vector), len(destino_vector))
print(historico_coherente.shape[0])

El número de registros en históricos con datos de origen y destino en aeropuertos es:  188367
El número de registros a eliminar de históricos por inconsistencias es:  97045
285412 285412
188367

## Eliminar aeropuertos sin información de vuelos

In [165]:
origen_incoherente = historico.loc[~origen_vector]['origen']
destino_incoherente = historico.loc[~destino_vector]['destino']

columna_incoherente = pd.concat([origen_incoherente,
                                 destino_incoherente],
                                axis=0, ignore_index=True)

print('Número de aeropuertos en tabla de aeropuertos'
      '', aero.shape[0])
print('Número de códigos únicos de aeropuertos '
      'en histórico sin referencia a tabla aeropuertos: '
      '', len(columna_incoherente.unique()))

codigos_totales = pd.concat([historico['origen'],
                                 historico['destino']],
                                axis=0, ignore_index=True)
print('Número de códigos únicos de aeropuertos '
      'en histórico: '
      '', len(codigos_totales.unique()))

Número de aeropuertos en tabla de aeropuertos 862
Número de códigos únicos de aeropuertos en histórico sin referencia a tabla aeropuertos:  315
Número de códigos únicos de aeropuertos en histórico:  840

### Nota:
Descomentar el siguiente código para ver aeropuertos en histórico sin referencia al archivo
principal de Aeropuertos

In [166]:
# columna_incoherente.unique()

## Verificación de número de aeropuertos sin datos en históricos

In [167]:
aero_vector = aero['sigla'].isin(origen_column) | aero['sigla'].isin(destino_column)
print('El número de aeropuertos sin datos en la tabla de históricos es: '
      '', (~aero_vector).values.sum())
print('Aeropuertos totales en tabla de aeropuertos: ',
      aero.shape[0])
print('\nAeropuertos sin datos en histórico')
aero.loc[(~aero_vector)]['sigla'].unique()

El número de aeropuertos sin datos en la tabla de históricos es:  337
Aeropuertos totales en tabla de aeropuertos:  862

Aeropuertos sin datos en histórico

array(['7FO', '7FW', '7FX', '7FY', '7FZ', '7GA', '7GB', '7GE', '7GI',
       '7GK', '7GN', '7GO', '7GP', '7GQ', '7GU', '7GX', '7HA', '7HC',
       '7HH', '7HK', '7HL', '7HO', '7HQ', '7HR', '7HS', '7HU', '7HW',
       '7HY', '7HZ', '7IB', '7IC', '7IE', '7IG', '7II', '7NP', '7NR',
       '8CB', '9AA', '9AD', '9AG', '9AH', '9AL', '9AU', '9AV', '9AX',
       '9BA', '9BC', '9BD', '9BG', '9BK', '9BL', '9BN', '9BP', '9BR',
       '9BT', '9BX', '9CH', '9CK', '9CM', '9CP', '9CQ', '9CR', '9CX',
       '9CY', '9CZ', '9DA', '9DB', '9DC', '9DF', '9DG', '9DH', '9DJ',
       '9DK', '9DL', '9DM', '9DN', '9DO', '9DP', '9LD', '9LG', '9LH',
       '9LJ', '9LK', '9LL', '9LM', '9LN', '9LP', '9LR', '9LS', '9LT',
       '9LU', '9LX', '9LY', '9LZ', '9MA', '9MB', '9MC', '9MD', '9ME',
       '9MG', '9MH', '9MI', '9MJ', '9MK', '9ML', '9MM', '9MN', '9MO',
       '9MP', '9MR', '9MT', '9MV', '9MW', '9MX', '9MY', '9MZ', '9NA',
       '9NB', '9NC', '9ND', '9NE', '9NF', '9NH', '9NI', '9NJ', '9NK',
       '9NL', 'ACL', 'ACP', 'ADN', 'AER', 'AFD', 'AGC', 'AGI', 'AGZ',
       'AIH', 'ALV', 'AMA', 'AMB', 'AMN', 'ANN', 'ARE', 'ARO', 'ASA',
       'ATC', 'BAA', 'BAL', 'BAN', 'BAT', 'BCU', 'BER', 'BIC', 'BNA',
       'BNI', 'BNP', 'BYA', 'CAD', 'CAG', 'CBA', 'CBU', 'CHA', 'CHM',
       'CIE', 'CJI', 'CLA', 'CNL', 'CNU', 'COL', 'COZ', 'CPE', 'CRS',
       'CST', 'CTO', 'CTP', 'CUA', 'CUS', 'CUT', 'CVT', 'CYO', 'DAR',
       'DJV', 'DZI', 'EAS', 'ECB', 'ECJ', 'ECM', 'ECU', 'EEA', 'EET',
       'EGI', 'EGY', 'ELE', 'ELI', 'ELP', 'ELR', 'ELT', 'ELU', 'ELZ',
       'EOC', 'ESS', 'ETA', 'ETR', 'FEO', 'FLD', 'FLR', 'FNO', 'FTE',
       'FUN', 'FUR', 'FUT', 'GAM', 'GMO', 'GOV', 'GTT', 'GUI', 'GUN',
       'GUT', 'HEA', 'HEV', 'HOA', 'HOB', 'HOP', 'HRA', 'INA', 'ITU',
       'JAB', 'JDI', 'LAA', 'LAD', 'LAE', 'LAF', 'LAJ', 'LAT', 'LAY',
       'LBR', 'LCB', 'LEB', 'LFA', 'LFE', 'LFT', 'LGV', 'LME', 'LMS',
       'LMT', 'LOB', 'LPA', 'LRI', 'LSI', 'LVC', 'LVE', 'MAA', 'MAL',
       'MIN', 'MOC', 'MOQ', 'MOY', 'MTP', 'MUZ', 'NCC', 'NIA', 'NUA',
       'NUE', 'NUH', 'NUT', 'NUV', 'NYY', 'OBA', 'OPA', 'ORR', 'PAO',
       'PET', 'PGO', 'PIV', 'PJS', 'PLE', 'PLK', 'PLO', 'PLP', 'PMM',
       'POL', 'PRB', 'PRJ', 'PRL', 'PRT', 'PRU', 'RCN', 'RGR', 'SAD',
       'SAM', 'SAR', 'SBN', 'SCA', 'SCM', 'SDA', 'SFC', 'SFL', 'SGT',
       'SJB', 'SJM', 'SJN', 'SJT', 'SLC', 'SLI', 'SLO', 'SLR', 'SLU',
       'SLY', 'SMD', 'SNF', 'SPO', 'SQE', 'SRT', 'SSE', 'STB', 'STR',
       'SXG', 'TAU', 'TBI', 'TCA', 'TES', 'TLO', 'TMA', 'TOC', 'TQM',
       'TRE', 'TRM', 'TSI', 'TTM', 'TUE', 'ULT', 'UMB', 'VAV', 'VCI',
       'VLE', 'VVJ', 'VVL', 'YAP'], dtype=object)

## Primera versión de archivos consistentes

In [168]:
# Aeropuertos sin inchoerencias
aero_v2 = aero.loc[aero_vector].reset_index(drop=True)
aero_v2.drop([aero_v2.columns[0]], axis=1)
aero_v2.to_csv('datos modificados/aeropuertos_v1.csv')

historico_v1 = historico_coherente.reset_index(drop=True)
historico_v1.to_csv('datos modificados/aeropuertos_historico_v1.csv')

### Revisar que no hayan quedado datos duplicados al establecer la llave primaria

In [169]:
historico_v1 = pd.read_csv('./datos modificados/aeropuertos_historico_v1.csv')

sinDuplicados = historico_v1.drop_duplicates(subset=['ano', 'mes', 'origen', 'destino', 'tipo_equipo', 'tipo_vuelo', 'empresa']
                                              , keep='first', ignore_index=True)
# count = historico_v1.groupby(['ano', 'mes', 'origen', 'destino', 'tipo_equipo', 'tipo_vuelo'], axis=0).count()
print('numero original', historico_v1.shape[0])
print('Numero', sinDuplicados.shape[0])

numero original 188367
Numero 188367

## Crear columna cod_fecha

In [170]:
historico_v1['mes'] = historico_v1['mes'].astype(str).str.zfill(2)
historico_v1['cod_fecha'] = historico_v1['ano'].astype(str) + '_' + historico_v1['mes'].astype(str)
historico_v1.drop(columns=['ano', 'mes'], inplace=True)
historico_v1.drop(columns=historico_v1.columns[0], inplace=True)

historico_v1.head()

,origen,destino,tipo_equipo,tipo_vuelo,trafico,empresa,vuelos,sillas,carga_ofrecida,pasajeros,carga_bordo,cod_fecha
0,BOG,BOG,BE20,T,N,APSA,1,0,0.0,0,0.0,2004_11
1,BOG,EJA,BE20,T,N,APSA,1,0,0.0,0,0.0,2004_05
2,BOG,GIR,BE20,T,N,APSA,1,0,0.0,0,0.0,2004_11
3,BOG,GYM,BE20,T,N,APSA,1,0,0.0,0,0.0,2004_03
4,BOG,SOX,BE20,T,N,APSA,1,0,0.0,0,0.0,2004_10

In [171]:
historico_v1.to_csv('./datos modificados/aeropuertos_historico_v2.csv', index=False)

## Eliminar columnas innecesarias / inconsistentes de la dimension Aeropuertos

In [172]:
aeropuertos_v2 = pd.read_csv('./datos modificados/aeropuertos_v1.csv')
print(aeropuertos_v2.columns)

Index(['Unnamed: 0', 'sigla', 'iata', 'nombre', 'municipio', 'departamento',
       'categoria', 'latitud', 'longitud', 'propietario', 'explotador',
       'longitud_pista', 'ancho_pista', 'pbmo', 'orientacion', 'elevacion',
       'resolucion', 'fecha_construccion', 'fecha_vigencia', 'clase', 'tipo',
       'numero_vuelos_origen', 'gcd_departamento', 'gcd_municipio'],
      dtype='object')

In [173]:
aeropuertos_v2.drop(columns=['iata', 'numero_vuelos_origen', 'fecha_construccion', 'fecha_vigencia', 'orientacion']
                    , inplace=True)
aeropuertos_v2.columns

Index(['Unnamed: 0', 'sigla', 'nombre', 'municipio', 'departamento',
       'categoria', 'latitud', 'longitud', 'propietario', 'explotador',
       'longitud_pista', 'ancho_pista', 'pbmo', 'elevacion', 'resolucion',
       'clase', 'tipo', 'gcd_departamento', 'gcd_municipio'],
      dtype='object')

In [174]:
columns = aeropuertos_v2.columns
aeropuertos_v2.drop(columns=[columns[0]], inplace=True)
aeropuertos_v2.head()

,sigla,nombre,municipio,departamento,categoria,latitud,longitud,propietario,explotador,longitud_pista,ancho_pista,pbmo,elevacion,resolucion,clase,tipo,gcd_departamento,gcd_municipio
0,4JC,JUANCHACO,Buenaventura,Valle del Cauca,Aeródromo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76,76109
1,7FU,LA ESCONDIDA,Puerto Gaitán,Meta,Aeródromo,4.6108,-71.1935,PALMAS SICARARE S.A.S.,COSARGO S.A.S.,1300.0,18.0,5000.0,564.0,"1843,000",1A,Fumigación,50,50568
2,7GC,SAN FELIPE DEL PAUTO,Trinidad,Casanare,Aeródromo,5.2032,-70.8951,AGRAS S.A.S,AGRAS S.A.S,720.0,10.0,3000.0,3125.0,"4505,000",1A,Privado,85,85430
3,7GD,VELASQUEZ,Puerto Boyacá,Boyacá,Aeródromo,5.9482,-74.4575,FAC,MANSAROVAR,1500.0,18.0,10000.0,617.0,"2135,000",3C,Privado,15,15572
4,7GF,LA UNION,Paz de Ariporo,Casanare,Aeródromo,5.6283,-70.7032,MARTHA Y. VARGAS DE R.,GEOPARK CUERVA,640.0,18.0,3500.0,335.0,"2136,000",1A,Privado,85,85250

In [175]:
aeropuertos_v2.to_csv('./datos modificados/aeropuertos_v3.csv')

## Renombrar filas de la tabla de hechos

In [176]:
historico_v3 = pd.read_csv('datos modificados/aeropuertos_historico_v2.csv')
historico_v3.head()

,origen,destino,tipo_equipo,tipo_vuelo,trafico,empresa,vuelos,sillas,carga_ofrecida,pasajeros,carga_bordo,cod_fecha
0,BOG,BOG,BE20,T,N,APSA,1,0,0.0,0,0.0,2004_11
1,BOG,EJA,BE20,T,N,APSA,1,0,0.0,0,0.0,2004_05
2,BOG,GIR,BE20,T,N,APSA,1,0,0.0,0,0.0,2004_11
3,BOG,GYM,BE20,T,N,APSA,1,0,0.0,0,0.0,2004_03
4,BOG,SOX,BE20,T,N,APSA,1,0,0.0,0,0.0,2004_10

In [177]:
historico_v3 = historico_v3.rename(columns={'origen': 'cod_origen', 'destino': 'cod_destino',
                                            'pasajeros': 'pasajeros_transportados', 'sillas': 'pasajeros_capacidad',
                                            'carga_bordo': 'carga_transportada', 'carga_ofrecida': 'carga_capacidad'})

historico_v3.head()

,cod_origen,cod_destino,tipo_equipo,tipo_vuelo,trafico,empresa,vuelos,pasajeros_capacidad,carga_capacidad,pasajeros_transportados,carga_transportada,cod_fecha
0,BOG,BOG,BE20,T,N,APSA,1,0,0.0,0,0.0,2004_11
1,BOG,EJA,BE20,T,N,APSA,1,0,0.0,0,0.0,2004_05
2,BOG,GIR,BE20,T,N,APSA,1,0,0.0,0,0.0,2004_11
3,BOG,GYM,BE20,T,N,APSA,1,0,0.0,0,0.0,2004_03
4,BOG,SOX,BE20,T,N,APSA,1,0,0.0,0,0.0,2004_10

In [178]:
historico_v3.to_csv('./datos modificados/aeropuertos_historico_v3.csv')

In [187]:
historico_v3.sort_values(by=['cod_fecha'])
historico_v3.tail()

,cod_origen,cod_destino,tipo_equipo,tipo_vuelo,trafico,empresa,vuelos,pasajeros_capacidad,carga_capacidad,pasajeros_transportados,carga_transportada,cod_fecha
188362,VVC,CAO,DC3T,R,N,ALIANSA,1,0,4500.0,0,3650.0,2018_12
188363,VVC,LQM,DC3T,R,N,ALIANSA,6,95,21500.0,32,18290.0,2018_12
188364,VVC,MVP,DC3T,R,N,ALIANSA,4,76,13600.0,38,10950.0,2018_12
188365,VVC,TAP,DC3T,R,N,ALIANSA,1,0,4500.0,0,3295.0,2018_12
188366,VVC,TQS,DC3T,R,N,ALIANSA,1,0,4500.0,0,3645.0,2018_12

In [189]:
historico_v3['carga_transportada'].sum()

2067815384.0

## Crear dimension Fecha

In [180]:
historico_v2 = pd.read_csv('./datos modificados/aeropuertos_historico_v3.csv')

min = historico_v2['cod_fecha'].min()
max = historico_v2['cod_fecha'].max()

print('Min', min, 'Max', max)
print(min[5:])

print(2//4 + 1)

Min 2004_01 Max 2018_12
01
1

In [182]:
x = []
meses = ['Enero','Febreo','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']
m = 0;

anioInit, mesInit = int(min[0:4]), int(min[5:])
anioFin,  mesFin = int(max[0:4]), int(max[5:])

# print((anioFin-anioInit)*12+mesFin+(12-mesInit+1))

for i in range(1, (anioFin-anioInit-1)*12+mesFin+(12-mesInit+1)+1):
    anio = anioInit + (i-mesInit)//12 
    mesNumber = (i-1)%12 + 1
    mes = meses[mesNumber - 1]
    semestre = 1 if mesNumber <=6 else 2
    cuad = 1 if mesNumber <= 4 else (2 if mesNumber <=8 else 3)
    tri = (mesNumber-1)//3 +1
    mesNumber = str(mesNumber).zfill(2)
    cod_fecha = f'{anio}_{mesNumber}'
    x.append([cod_fecha,anio,semestre,cuad,tri,mes, mesNumber])

fechas = pd.DataFrame(x, columns = ['Cod_fecha', 'Anio', 'Semestre', 'Cuatrimestre','Trimestre', 'Mes', 'Mes_numerico'])
fechas.head(15)

   Cod_fecha  Anio  Semestre  Cuatrimestre  Trimestre         Mes Mes_numerico
0    2004_01  2004         1             1          1       Enero           01
1    2004_02  2004         1             1          1      Febreo           02
2    2004_03  2004         1             1          1       Marzo           03
3    2004_04  2004         1             1          2       Abril           04
4    2004_05  2004         1             2          2        Mayo           05
5    2004_06  2004         1             2          2       Junio           06
6    2004_07  2004         2             2          3       Julio           07
7    2004_08  2004         2             2          3      Agosto           08
8    2004_09  2004         2             3          3  Septiembre           09
9    2004_10  2004         2             3          4     Octubre           10
10   2004_11  2004         2             3          4   Noviembre           11
11   2004_12  2004         2             3          4   Diciembre           12
12   2005_01  2005         1             1          1       Enero           01
13   2005_02  2005         1             1          1      Febreo           02
14   2005_03  2005         1             1          1       Marzo           03

In [185]:
fechas['Cod_fecha'].value_counts()

2012_01    1
2014_02    1
2013_01    1
2016_05    1
2004_08    1
          ..
2013_09    1
2015_04    1
2017_03    1
2004_01    1
2016_08    1
Name: Cod_fecha, Length: 180, dtype: int64

In [186]:
fechas.to_csv('./datos modificados/fechas_v1.csv')