# Procesamiento de datos para Análisis 3: Flujo de aéreo y terrestre

Se realizará una nueva tabla de hechos que condense los 3 tipos de infraestructura, paeaje, aeropuerto origen y aeropuerto destino.

## Datos aeropuertos

In [460]:
import pandas as pd
fact_aero = pd.read_csv("datos modificados/aeropuertos_historico_v3.csv", index_col=0)

In [461]:
fact_aero.head()

,cod_origen,cod_destino,tipo_equipo,tipo_vuelo,trafico,empresa,vuelos,pasajeros_capacidad,carga_capacidad,pasajeros_transportados,carga_transportada,cod_fecha
0,BOG,BOG,BE20,T,N,APSA,1,0,0.0,0,0.0,2004_11
1,BOG,EJA,BE20,T,N,APSA,1,0,0.0,0,0.0,2004_05
2,BOG,GIR,BE20,T,N,APSA,1,0,0.0,0,0.0,2004_11
3,BOG,GYM,BE20,T,N,APSA,1,0,0.0,0,0.0,2004_03
4,BOG,SOX,BE20,T,N,APSA,1,0,0.0,0,0.0,2004_10

In [462]:
aero = pd.read_csv("datos modificados/aeropuertos_v3.csv", index_col=0)

In [463]:
aero.head()

,sigla,nombre,municipio,departamento,categoria,latitud,longitud,propietario,explotador,longitud_pista,ancho_pista,pbmo,elevacion,resolucion,clase,tipo,gcd_departamento,gcd_municipio
0,4JC,JUANCHACO,Buenaventura,Valle del Cauca,Aeródromo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76,76109
1,7FU,LA ESCONDIDA,Puerto Gaitán,Meta,Aeródromo,4.6108,-71.1935,PALMAS SICARARE S.A.S.,COSARGO S.A.S.,1300.0,18.0,5000.0,564.0,"1843,000",1A,Fumigación,50,50568
2,7GC,SAN FELIPE DEL PAUTO,Trinidad,Casanare,Aeródromo,5.2032,-70.8951,AGRAS S.A.S,AGRAS S.A.S,720.0,10.0,3000.0,3125.0,"4505,000",1A,Privado,85,85430
3,7GD,VELASQUEZ,Puerto Boyacá,Boyacá,Aeródromo,5.9482,-74.4575,FAC,MANSAROVAR,1500.0,18.0,10000.0,617.0,"2135,000",3C,Privado,15,15572
4,7GF,LA UNION,Paz de Ariporo,Casanare,Aeródromo,5.6283,-70.7032,MARTHA Y. VARGAS DE R.,GEOPARK CUERVA,640.0,18.0,3500.0,335.0,"2136,000",1A,Privado,85,85250

## Eliminación de datos de trafico aéreo anteriores a 2014

In [464]:
fact_aero = fact_aero[fact_aero.cod_fecha >= "2014_01"]
print('Cantidad de datos con desdes 2014:',len(fact_aero.index))

Cantidad de datos con desdes 2014: 63993

In [465]:
min = fact_aero['cod_fecha'].min()
max = fact_aero['cod_fecha'].max()

print('Min', min, 'Max', max)
fact_aero.head()

Min 2014_01 Max 2018_12

,cod_origen,cod_destino,tipo_equipo,tipo_vuelo,trafico,empresa,vuelos,pasajeros_capacidad,carga_capacidad,pasajeros_transportados,carga_transportada,cod_fecha
124374,ADZ,BAQ,C560,T,N,CENTRAL CHARTER,1,0,0.0,0,0.0,2014_04
124375,ADZ,CLO,H25B,T,N,CENTRAL CHARTER,1,0,0.0,0,0.0,2014_12
124376,BAQ,ADZ,C560,T,N,CENTRAL CHARTER,1,0,0.0,0,0.0,2014_04
124377,BOG,CLO,C560,T,N,CENTRAL CHARTER,2,0,0.0,0,0.0,2014_04
124378,BOG,CLO,C560,T,N,CENTRAL CHARTER,1,0,0.0,0,0.0,2014_06

## Creación de nueva dimension Infraestructura

Es importante mencionar que la columna tipo tiene 3 valores posibles. "aero_origen", "aero_destino", "peaje"

In [466]:
infra1 = aero.filter(['sigla','nombre','departamento'], axis=1)
infra1['sigla'] = infra1['sigla'] +'_O'
infra2 = aero.filter(['sigla','nombre','departamento'], axis=1)
infra2['sigla'] = infra2['sigla'] +'_D'
infra1.head()

   sigla                nombre     departamento
0  4JC_O             JUANCHACO  Valle del Cauca
1  7FU_O          LA ESCONDIDA             Meta
2  7GC_O  SAN FELIPE DEL PAUTO         Casanare
3  7GD_O             VELASQUEZ           Boyacá
4  7GF_O              LA UNION         Casanare

In [467]:
infra1['tipo'] = 'aero_origen'
infra1.head()

   sigla                nombre     departamento         tipo
0  4JC_O             JUANCHACO  Valle del Cauca  aero_origen
1  7FU_O          LA ESCONDIDA             Meta  aero_origen
2  7GC_O  SAN FELIPE DEL PAUTO         Casanare  aero_origen
3  7GD_O             VELASQUEZ           Boyacá  aero_origen
4  7GF_O              LA UNION         Casanare  aero_origen

In [468]:
infra2['tipo'] = 'aero_destino'
infra2.head()

   sigla                nombre     departamento          tipo
0  4JC_D             JUANCHACO  Valle del Cauca  aero_destino
1  7FU_D          LA ESCONDIDA             Meta  aero_destino
2  7GC_D  SAN FELIPE DEL PAUTO         Casanare  aero_destino
3  7GD_D             VELASQUEZ           Boyacá  aero_destino
4  7GF_D              LA UNION         Casanare  aero_destino

In [469]:
frames = [infra1, infra2]

infra = pd.concat(frames)
infra.head()

   sigla                nombre     departamento         tipo
0  4JC_O             JUANCHACO  Valle del Cauca  aero_origen
1  7FU_O          LA ESCONDIDA             Meta  aero_origen
2  7GC_O  SAN FELIPE DEL PAUTO         Casanare  aero_origen
3  7GD_O             VELASQUEZ           Boyacá  aero_origen
4  7GF_O              LA UNION         Casanare  aero_origen

In [470]:
infra.tail()

     sigla                 nombre departamento          tipo
520  YOP_D             TROMPILLOS     Casanare  aero_destino
521  YPL_D                CIENAGA     Casanare  aero_destino
522  YPP_D         GERMAN ALBERTO     Casanare  aero_destino
523  YYP_D             LOS CABROS     Casanare  aero_destino
524  ZPS_D  GUILLERMO GOMEZ ORTIZ    Santander  aero_destino

In [471]:
print(infra['sigla'].value_counts())

print(infra['sigla'].isna().sum())

PRC_O    1
MVU_O    1
MAI_O    1
GIR_O    1
BAQ_O    1
        ..
LPG_D    1
PTZ_D    1
CMR_O    1
SLM_O    1
LRA_D    1
Name: sigla, Length: 1050, dtype: int64
0

In [472]:
infra = infra.rename(columns={'sigla': 'codigo'})
infra.head()

  codigo                nombre     departamento         tipo
0  4JC_O             JUANCHACO  Valle del Cauca  aero_origen
1  7FU_O          LA ESCONDIDA             Meta  aero_origen
2  7GC_O  SAN FELIPE DEL PAUTO         Casanare  aero_origen
3  7GD_O             VELASQUEZ           Boyacá  aero_origen
4  7GF_O              LA UNION         Casanare  aero_origen

## Creacción de tabla de hechos

In [473]:
fact_infra1 = fact_aero.groupby(['cod_origen', 'cod_destino','cod_fecha']).agg({'pasajeros_transportados': 'sum'}).reset_index()
fact_infra1.tail()
print(fact_infra1[['cod_origen', 'cod_destino','cod_fecha']].value_counts())

cod_origen  cod_destino  cod_fecha
ZPS         BGA          2014_02      1
CTG         PEI          2014_03      1
            MTR          2018_09      1
                         2018_10      1
                         2018_11      1
                                     ..
MVP         CRU          2016_11      1
                         2017_03      1
                         2017_04      1
                         2017_05      1
4JC         BBA          2018_09      1
Length: 26599, dtype: int64

In [474]:
min = fact_aero['pasajeros_transportados'].min()
max = fact_aero['pasajeros_transportados'].max()

print('Min', min, 'Max', max)

Min 0 Max 75424

In [475]:
fact_infra2 = fact_infra1.filter(['cod_origen','cod_fecha','pasajeros_transportados', 'cod_destino'], axis=1)
fact_infra2['ruta'] = fact_infra2['cod_origen'] + fact_infra2['cod_destino']
fact_infra2['cod_origen'] = fact_infra2['cod_origen'] +'_O'
fact_infra2 = fact_infra2.rename(columns={'cod_origen': 'codigo_infra'})
fact_infra2.head()

  codigo_infra cod_fecha  pasajeros_transportados cod_destino    ruta
0        4JC_O   2018_09                        0         BBA  4JCBBA
1        4JC_O   2014_03                        0         BEE  4JCBEE
2        4JC_O   2015_03                        0         BUN  4JCBUN
3        4JC_O   2015_12                        0         BUN  4JCBUN
4        4JC_O   2016_05                        0         BUN  4JCBUN

In [476]:
fact_infra3 = fact_infra1.filter(['cod_destino','cod_fecha','pasajeros_transportados', 'cod_origen'], axis=1)
fact_infra3['ruta'] = fact_infra3['cod_origen'] + fact_infra3['cod_destino']
fact_infra3['cod_destino'] = fact_infra3['cod_destino'] +'_D'
fact_infra3 = fact_infra3.rename(columns={'cod_destino': 'codigo_infra'})

fact_infra3.head()

  codigo_infra cod_fecha  pasajeros_transportados cod_origen    ruta
0        BBA_D   2018_09                        0        4JC  4JCBBA
1        BEE_D   2014_03                        0        4JC  4JCBEE
2        BUN_D   2015_03                        0        4JC  4JCBUN
3        BUN_D   2015_12                        0        4JC  4JCBUN
4        BUN_D   2016_05                        0        4JC  4JCBUN

In [477]:
frames = [fact_infra2, fact_infra3]
fact_infra = pd.concat(frames)
fact_infra = fact_infra.rename(columns={'pasajeros_transportados': 'cantidad_personas'})

fact_infra = fact_infra.filter(['codigo_infra','cod_fecha', 'ruta', 'cantidad_personas'], axis=1)

fact_infra.tail()

      codigo_infra cod_fecha    ruta  cantidad_personas
26594        VVC_D   2018_03  VVNVVC                  0
26595        VVC_D   2018_06  VVNVVC                  0
26596        LCH_D   2018_06  YAGLCH                  0
26597        VVC_D   2015_02  YYPVVC                  0
26598        BGA_D   2014_02  ZPSBGA                  0

In [478]:
print(fact_infra['codigo_infra'].isna().sum())
fact_infra.head()

0

  codigo_infra cod_fecha    ruta  cantidad_personas
0        4JC_O   2018_09  4JCBBA                  0
1        4JC_O   2014_03  4JCBEE                  0
2        4JC_O   2015_03  4JCBUN                  0
3        4JC_O   2015_12  4JCBUN                  0
4        4JC_O   2016_05  4JCBUN                  0

## Datos peajes

In [479]:
fact_peajes = pd.read_csv("datos modificados/Tabla_de_hechos_final.csv")
fact_peajes.head()

  NombreEstacionPeaje  Recaudo  Trafico Cod_fecha
0            ACAPULCO      0.0      0.0   2014_01
1            ACAPULCO      0.0      0.0   2014_02
2            ACAPULCO      0.0      0.0   2014_03
3            ACAPULCO      0.0      0.0   2014_04
4            ACAPULCO      0.0      0.0   2014_05

In [480]:
peajes = pd.read_csv("./../E1/peajes.csv", index_col=0)
peajes.head()

,cod_via,nombre,admon,responsable,cat_1,cat_2,cat_3,cat_4,cat_5,cat_6,cat_7,cat_8,cat_9,eje_adicio,eje_adic_2,latitud,longitud,departamento,gcd_departamento
0,2507,ACAPULCO,CONCESION PACIFICO TRES S.A.S (ODINSA),Concesion ANI,11400,14100,14100,14100,33800,42400,48900,0,0,0,0,4.999049,-75.858869,Caldas,17
1,4511,AGUAS NEGRAS,Concesionaria Ruta Del Sol,INVIAS,10500,13300,31200,37400,43900,0,0,0,0,9500,9300,6.645326,-73.952462,Santander,68
2,5501,ALBARRACIN,Concesion Briceno - Tunja - Sogamoso,Concesion ANI,8000,8900,23000,28500,33500,0,0,0,0,8200,6800,5.290461,-73.583519,Cundinamarca,25
3,4504,ALTAMIRA,Concesion Aliadas para El Progreso,Concesion ANI,8500,9300,19500,24800,27900,0,0,0,0,8700,8400,2.142914,-75.700593,Huila,41
4,9010,ALTO PINO,Concesion Santa Marta Paraguachon S.A,Concesion ANI,9600,14800,11900,18900,27700,44700,56400,0,0,0,0,11.444874,-72.542352,La Guajira,44

## Agregar peajes a la dimensión infraestructura

In [481]:
peajes = peajes.filter(['nombre','departamento'], axis=1)
peajes['codigo'] = peajes['nombre'] 
peajes['tipo'] = 'peaje'
peajes['ruta'] = '_P'
cols = list(peajes.columns.values)
print(cols)

['nombre', 'departamento', 'codigo', 'tipo', 'ruta']

In [482]:
peajes = peajes[['codigo','nombre', 'departamento', 'tipo', 'ruta']]
peajes.head()

         codigo        nombre  departamento   tipo ruta
0      ACAPULCO      ACAPULCO        Caldas  peaje   _P
1  AGUAS NEGRAS  AGUAS NEGRAS     Santander  peaje   _P
2    ALBARRACIN    ALBARRACIN  Cundinamarca  peaje   _P
3      ALTAMIRA      ALTAMIRA         Huila  peaje   _P
4     ALTO PINO     ALTO PINO    La Guajira  peaje   _P

In [483]:
frames = [infra, peajes]

infra = pd.concat(frames)
infra.head()

  codigo                nombre     departamento         tipo ruta
0  4JC_O             JUANCHACO  Valle del Cauca  aero_origen  NaN
1  7FU_O          LA ESCONDIDA             Meta  aero_origen  NaN
2  7GC_O  SAN FELIPE DEL PAUTO         Casanare  aero_origen  NaN
3  7GD_O             VELASQUEZ           Boyacá  aero_origen  NaN
4  7GF_O              LA UNION         Casanare  aero_origen  NaN

In [484]:
print(infra['codigo'].isna().sum())
infra.tail()

0

        codigo     nombre departamento   tipo ruta
161    TURBACO    TURBACO      Bolivar  peaje   _P
162       TUTA       TUTA       Boyaca  peaje   _P
165   VALENCIA   VALENCIA        Cesar  peaje   _P
169  VILLARICA  VILLARICA        Cauca  peaje   _P
170    ZAMBITO    ZAMBITO    Santander  peaje   _P

## Cambiar formato de codigo fecha

In [485]:
#pendiente
fact_peajes.head()

  NombreEstacionPeaje  Recaudo  Trafico Cod_fecha
0            ACAPULCO      0.0      0.0   2014_01
1            ACAPULCO      0.0      0.0   2014_02
2            ACAPULCO      0.0      0.0   2014_03
3            ACAPULCO      0.0      0.0   2014_04
4            ACAPULCO      0.0      0.0   2014_05

In [486]:
fact_peajes = fact_peajes.filter(['NombreEstacionPeaje', 'Cod_fecha','Trafico'], axis=1)
fact_peajes = fact_peajes.rename(columns={'NombreEstacionPeaje': 'codigo_infra',
                                          'Cod_fecha':'cod_fecha','Trafico':'cantidad_personas'})
fact_peajes.head()

  codigo_infra cod_fecha  cantidad_personas
0     ACAPULCO   2014_01                0.0
1     ACAPULCO   2014_02                0.0
2     ACAPULCO   2014_03                0.0
3     ACAPULCO   2014_04                0.0
4     ACAPULCO   2014_05                0.0

## Aproximación de personas por carro
A partir del siguiente link, se estima que el promedio de personas por carro es de 2.2, tomando (40+60*3 )/100
https://www.eltiempo.com/bogota/seis-de-cada-diez-personas-dijeron-compartir-su-vehiculo-en-bogota-90186

In [487]:
fact_peajes['cantidad_personas'] = 2.2*fact_peajes['cantidad_personas']
fact_peajes.head()

  codigo_infra cod_fecha  cantidad_personas
0     ACAPULCO   2014_01                0.0
1     ACAPULCO   2014_02                0.0
2     ACAPULCO   2014_03                0.0
3     ACAPULCO   2014_04                0.0
4     ACAPULCO   2014_05                0.0

### Concatenación de peajes y aeropuertos en la tabla de hechos

In [488]:
frames = [fact_infra, fact_peajes]

fact_infra = pd.concat(frames)
fact_infra.head()

  codigo_infra cod_fecha    ruta  cantidad_personas
0        4JC_O   2018_09  4JCBBA                0.0
1        4JC_O   2014_03  4JCBEE                0.0
2        4JC_O   2015_03  4JCBUN                0.0
3        4JC_O   2015_12  4JCBUN                0.0
4        4JC_O   2016_05  4JCBUN                0.0

In [489]:
fact_infra.tail()

     codigo_infra cod_fecha ruta  cantidad_personas
7015    VILLARICA   2018_08  NaN                0.0
7016    VILLARICA   2018_09  NaN                0.0
7017    VILLARICA   2018_10  NaN                0.0
7018    VILLARICA   2018_11  NaN                0.0
7019    VILLARICA   2018_12  NaN                0.0

## Generación de archivos Fechas

In [490]:
fechas = pd.read_csv("datos modificados/fechas_v1.csv", index_col=0)
fechas.head()

  Cod_fecha  Anio  Semestre  Cuatrimestre  Trimestre     Mes  Mes_numerico
0   2004_01  2004         1             1          1   Enero             1
1   2004_02  2004         1             1          1  Febreo             2
2   2004_03  2004         1             1          1   Marzo             3
3   2004_04  2004         1             1          2   Abril             4
4   2004_05  2004         1             2          2    Mayo             5

In [491]:
fechas = fechas[fechas.Cod_fecha >= "2014_01"]
print('Fechas desde 2014:',len(fechas.index))

Fechas desde 2014: 60

## Generación de archivos

In [492]:
fact_infra = fact_infra.drop_duplicates(subset=['codigo_infra', 'cod_fecha', 'ruta'], ignore_index=True)

print(fact_infra.shape)

print(fact_infra[['cod_fecha', 'codigo_infra', 'ruta']].value_counts())

fact_infra.to_csv('./datos modificados/fact_infra.csv', index=False)
infra.to_csv('./datos modificados/dim_infra.csv', index=False)
fechas.to_csv('./datos modificados/fechas_infra.csv', index=False)

(60218, 4)
cod_fecha  codigo_infra  ruta
2018_12    VVC_O         VVCVVC    1
2015_08    MQU_O         MQUGYM    1
           MTR_O         MTRBAQ    1
           MTR_D         NVAMTR    1
                         MDEMTR    1
                                  ..
2017_04    VVC_D         EYPVVC    1
                         EJAVVC    1
                         CRUVVC    1
                         CAOVVC    1
2014_01    7GD_D         VVC7GD    1
Length: 53198, dtype: int64

In [493]:

fact_infra.head()
infra.head()

  codigo                nombre     departamento         tipo ruta
0  4JC_O             JUANCHACO  Valle del Cauca  aero_origen  NaN
1  7FU_O          LA ESCONDIDA             Meta  aero_origen  NaN
2  7GC_O  SAN FELIPE DEL PAUTO         Casanare  aero_origen  NaN
3  7GD_O             VELASQUEZ           Boyacá  aero_origen  NaN
4  7GF_O              LA UNION         Casanare  aero_origen  NaN

In [494]:
# fact_infra = fact_infra.reset_index()
# fact_infra.join(other=infra.set_index('codigo'),
#                 on='codigo_infra',
#                 how='left', lsuffix='_left', rsuffix='_right')
# #
#
# # fact_infra
# fact_infra.loc[fact_infra['tipo'] == 'aero_destino']


 # hechos.join(other=peajes.set_index('nombre'),
 #            on='NombreEstacionPeaje')[[
 #    'NombreEstacionPeaje',
 #    'Trafico',
 #    'Cod_fecha', 'departamento', evaluated_col]].reset_index(drop=True)