In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("aeropuertos_historico_data.csv", sep=";")

In [7]:
df.head(13)

,ano,mes,origen,destino,tipo_equipo,tipo_vuelo,trafico,empresa,vuelos,sillas,carga_ofrecida,pasajeros,carga_bordo
0,2004,1,BOG,MIA,A306,R,I,AMERICAN,32,8000,362880.0,6423,226429.0
1,2004,2,BOG,MIA,A306,R,I,AMERICAN,29,7743,328860.0,4107,237123.0
2,2004,3,BOG,MIA,A306,R,I,AMERICAN,31,8277,351540.0,4332,269443.0
3,2004,4,BOG,MIA,A306,R,I,AMERICAN,30,8010,340200.0,4207,255167.0
4,2004,5,BOG,MIA,A306,R,I,AMERICAN,1,267,11340.0,156,10175.0
5,2004,6,BOG,MIA,A306,R,I,AMERICAN,0,0,0.0,0,0.0
6,2004,7,BOG,MIA,A306,R,I,AMERICAN,0,0,0.0,0,0.0
7,2004,8,BOG,MIA,A306,R,I,AMERICAN,0,0,0.0,0,0.0
8,2004,9,BOG,MIA,A306,R,I,AMERICAN,0,0,0.0,0,0.0
9,2004,10,BOG,MIA,A306,R,I,AMERICAN,0,0,0.0,0,0.0
10,2004,11,BOG,MIA,A306,R,I,AMERICAN,0,0,0.0,0,0.0
11,2004,12,BOG,MIA,A306,R,I,AMERICAN,0,0,0.0,0,0.0
12,2004,1,BOG,MIA,B752,R,I,AMERICAN,0,0,0.0,0,0.0

In [31]:
df2 = pd.read_excel("aeropuertos.xlsx")

In [32]:
df2.head()

,sigla,iata,nombre,municipio,departamento,categoria,latitud,longitud,propietario,explotador,...,orientacion,elevacion,resolucion,fecha_construccion,fecha_vigencia,clase,tipo,numero_vuelos_origen,gcd_departamento,gcd_municipio
0,4JC,NaN,JUANCHACO,Buenaventura,Valle del Cauca,Aeródromo,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,76,76109
1,7FO,NaN,LA ISLA,Puerto Gaitán,Meta,Aeródromo,4.4211,-71.6271,LA ISLA Y EL ROSARIO S.A.,LA CEIBA S.A.,...,NaN,538.0,"1325,000",2015-06-05,2018-06-11,1A,Privado,2.0,50,50568
2,7FU,NaN,LA ESCONDIDA,Puerto Gaitán,Meta,Aeródromo,4.6108,-71.1935,PALMAS SICARARE S.A.S.,COSARGO S.A.S.,...,NaN,564.0,"1843,000",2013-04-26,2016-05-07,1A,Fumigación,30.0,50,50568
3,7FW,NaN,MORICHITO,Hato Corozal,Casanare,Aeródromo,5.9188,-71.7932,CARMEN NARANJO,ROBERTO C. RIAÑO P.,...,NaN,720.0,"2220,000",2009-05-07,NaN,1A,Privado,NaN,85,85125
4,7FX,NaN,CAROLINA DEL PRINCIPE,Carolina,Antioquia,Aeródromo,6.7248,-75.2909,MUNICIPIO,MUNICIPIO,...,NaN,6004.0,"6470,000",2013-11-19,NaN,1A,Público,NaN,5,5150

In [33]:
len(df2['sigla'])

865

In [34]:
len(df2['sigla'].drop_duplicates(inplace=False))

862

In [35]:
df2['sigla'].value_counts()

SLU    2
CUC    2
SLI    2
MAP    1
VLA    1
      ..
ELB    1
7FU    1
SGU    1
9LT    1
SLO    1
Name: sigla, Length: 862, dtype: int64

In [40]:
df2.loc[df2['sigla'] == 'SLU']

,sigla,iata,nombre,municipio,departamento,categoria,latitud,longitud,propietario,explotador,...,orientacion,elevacion,resolucion,fecha_construccion,fecha_vigencia,clase,tipo,numero_vuelos_origen,gcd_departamento,gcd_municipio
758,SLU,NaN,SANTA LUCIA,Ábrego,Norte de Santander,Aeródromo,8.0667,-73.2,INCORA LTDA,INCORA,...,NaN,4502.0,"842,000",NaN,NaN,2B,Público,1.0,54,54003

In [41]:
df2.loc[df2['sigla'] == 'CUC']

,sigla,iata,nombre,municipio,departamento,categoria,latitud,longitud,propietario,explotador,...,orientacion,elevacion,resolucion,fecha_construccion,fecha_vigencia,clase,tipo,numero_vuelos_origen,gcd_departamento,gcd_municipio
344,CUC,CUC,CAMILO DAZA,San José de Cúcuta,Norte de Santander,Internacional,7.9274,-72.5116,AEROCIVIL,AEROCIVIL -ORIENTE S.A.S.,...,NaN,1027.0,"984,000",1987-02-02,NaN,4D,Aerocivil,72216.0,54,54001

In [42]:
df2.loc[df2['sigla'] == 'SLI']

,sigla,iata,nombre,municipio,departamento,categoria,latitud,longitud,propietario,explotador,...,orientacion,elevacion,resolucion,fecha_construccion,fecha_vigencia,clase,tipo,numero_vuelos_origen,gcd_departamento,gcd_municipio
753,SLI,NaN,LA BRAMADORA,Orocué,Casanare,Aeródromo,5.1914,-71.7439,SILVANA REYES DIAZ,SILVANA REYES DIAZ,...,NaN,544.0,"7088,000",NaN,NaN,1A,Privado,2.0,85,85230

In [39]:
df2.drop([345, 759, 754], inplace=True)

In [43]:
df2['sigla'].value_counts()

MAP    1
EPY    1
AXM    1
7HX    1
VLA    1
      ..
ELB    1
7FU    1
SGU    1
9LT    1
SLO    1
Name: sigla, Length: 862, dtype: int64

In [44]:
df2.to_csv("aeropuertos_v1.csv")

In [45]:
df2_test = pd.read_csv("aeropuertos_v1.csv")

In [46]:
df2['sigla'].value_counts()

MAP    1
EPY    1
AXM    1
7HX    1
VLA    1
      ..
ELB    1
7FU    1
SGU    1
9LT    1
SLO    1
Name: sigla, Length: 862, dtype: int64