In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("aeropuertos_historico_data.csv", sep=";")

In [7]:
df.head(13)

,ano,mes,origen,destino,tipo_equipo,tipo_vuelo,trafico,empresa,vuelos,sillas,carga_ofrecida,pasajeros,carga_bordo
0,2004,1,BOG,MIA,A306,R,I,AMERICAN,32,8000,362880.0,6423,226429.0
1,2004,2,BOG,MIA,A306,R,I,AMERICAN,29,7743,328860.0,4107,237123.0
2,2004,3,BOG,MIA,A306,R,I,AMERICAN,31,8277,351540.0,4332,269443.0
3,2004,4,BOG,MIA,A306,R,I,AMERICAN,30,8010,340200.0,4207,255167.0
4,2004,5,BOG,MIA,A306,R,I,AMERICAN,1,267,11340.0,156,10175.0
5,2004,6,BOG,MIA,A306,R,I,AMERICAN,0,0,0.0,0,0.0
6,2004,7,BOG,MIA,A306,R,I,AMERICAN,0,0,0.0,0,0.0
7,2004,8,BOG,MIA,A306,R,I,AMERICAN,0,0,0.0,0,0.0
8,2004,9,BOG,MIA,A306,R,I,AMERICAN,0,0,0.0,0,0.0
9,2004,10,BOG,MIA,A306,R,I,AMERICAN,0,0,0.0,0,0.0
10,2004,11,BOG,MIA,A306,R,I,AMERICAN,0,0,0.0,0,0.0
11,2004,12,BOG,MIA,A306,R,I,AMERICAN,0,0,0.0,0,0.0
12,2004,1,BOG,MIA,B752,R,I,AMERICAN,0,0,0.0,0,0.0

In [31]:
df2 = pd.read_excel("aeropuertos.xlsx")

In [32]:
df2.head()

,sigla,iata,nombre,municipio,departamento,categoria,latitud,longitud,propietario,explotador,...,orientacion,elevacion,resolucion,fecha_construccion,fecha_vigencia,clase,tipo,numero_vuelos_origen,gcd_departamento,gcd_municipio
0,4JC,NaN,JUANCHACO,Buenaventura,Valle del Cauca,Aeródromo,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,76,76109
1,7FO,NaN,LA ISLA,Puerto Gaitán,Meta,Aeródromo,4.4211,-71.6271,LA ISLA Y EL ROSARIO S.A.,LA CEIBA S.A.,...,NaN,538.0,"1325,000",2015-06-05,2018-06-11,1A,Privado,2.0,50,50568
2,7FU,NaN,LA ESCONDIDA,Puerto Gaitán,Meta,Aeródromo,4.6108,-71.1935,PALMAS SICARARE S.A.S.,COSARGO S.A.S.,...,NaN,564.0,"1843,000",2013-04-26,2016-05-07,1A,Fumigación,30.0,50,50568
3,7FW,NaN,MORICHITO,Hato Corozal,Casanare,Aeródromo,5.9188,-71.7932,CARMEN NARANJO,ROBERTO C. RIAÑO P.,...,NaN,720.0,"2220,000",2009-05-07,NaN,1A,Privado,NaN,85,85125
4,7FX,NaN,CAROLINA DEL PRINCIPE,Carolina,Antioquia,Aeródromo,6.7248,-75.2909,MUNICIPIO,MUNICIPIO,...,NaN,6004.0,"6470,000",2013-11-19,NaN,1A,Público,NaN,5,5150

In [33]:
len(df2['sigla'])

865

In [34]:
len(df2['sigla'].drop_duplicates(inplace=False))

862

In [35]:
df2['sigla'].value_counts()

SLU    2
CUC    2
SLI    2
MAP    1
VLA    1
      ..
ELB    1
7FU    1
SGU    1
9LT    1
SLO    1
Name: sigla, Length: 862, dtype: int64

In [40]:
df2.loc[df2['sigla'] == 'SLU']

,sigla,iata,nombre,municipio,departamento,categoria,latitud,longitud,propietario,explotador,...,orientacion,elevacion,resolucion,fecha_construccion,fecha_vigencia,clase,tipo,numero_vuelos_origen,gcd_departamento,gcd_municipio
758,SLU,NaN,SANTA LUCIA,Ábrego,Norte de Santander,Aeródromo,8.0667,-73.2,INCORA LTDA,INCORA,...,NaN,4502.0,"842,000",NaN,NaN,2B,Público,1.0,54,54003

In [41]:
df2.loc[df2['sigla'] == 'CUC']

,sigla,iata,nombre,municipio,departamento,categoria,latitud,longitud,propietario,explotador,...,orientacion,elevacion,resolucion,fecha_construccion,fecha_vigencia,clase,tipo,numero_vuelos_origen,gcd_departamento,gcd_municipio
344,CUC,CUC,CAMILO DAZA,San José de Cúcuta,Norte de Santander,Internacional,7.9274,-72.5116,AEROCIVIL,AEROCIVIL -ORIENTE S.A.S.,...,NaN,1027.0,"984,000",1987-02-02,NaN,4D,Aerocivil,72216.0,54,54001

In [42]:
df2.loc[df2['sigla'] == 'SLI']

,sigla,iata,nombre,municipio,departamento,categoria,latitud,longitud,propietario,explotador,...,orientacion,elevacion,resolucion,fecha_construccion,fecha_vigencia,clase,tipo,numero_vuelos_origen,gcd_departamento,gcd_municipio
753,SLI,NaN,LA BRAMADORA,Orocué,Casanare,Aeródromo,5.1914,-71.7439,SILVANA REYES DIAZ,SILVANA REYES DIAZ,...,NaN,544.0,"7088,000",NaN,NaN,1A,Privado,2.0,85,85230

In [39]:
df2.drop([345, 759, 754], inplace=True)

In [43]:
df2['sigla'].value_counts()

MAP    1
EPY    1
AXM    1
7HX    1
VLA    1
      ..
ELB    1
7FU    1
SGU    1
9LT    1
SLO    1
Name: sigla, Length: 862, dtype: int64

In [44]:
df2.to_csv("aeropuertos_v1.csv")

In [45]:
df2_test = pd.read_csv("aeropuertos_v1.csv")

In [46]:
df2['sigla'].value_counts()

MAP    1
EPY    1
AXM    1
7HX    1
VLA    1
      ..
ELB    1
7FU    1
SGU    1
9LT    1
SLO    1
Name: sigla, Length: 862, dtype: int64

In [78]:
aero = pd.read_csv('./datos_modificados/aeropuertos_v1.csv')
historico = pd.read_csv('./datos_originales/aeropuertos_historico_data.csv', sep=';')
aero.head()

,Unnamed: 0,sigla,iata,nombre,municipio,departamento,categoria,latitud,longitud,propietario,...,orientacion,elevacion,resolucion,fecha_construccion,fecha_vigencia,clase,tipo,numero_vuelos_origen,gcd_departamento,gcd_municipio
0,0,4JC,NaN,JUANCHACO,Buenaventura,Valle del Cauca,Aeródromo,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,76,76109
1,1,7FO,NaN,LA ISLA,Puerto Gaitán,Meta,Aeródromo,4.4211,-71.6271,LA ISLA Y EL ROSARIO S.A.,...,NaN,538.0,"1325,000",2015-06-05,2018-06-11,1A,Privado,2.0,50,50568
2,2,7FU,NaN,LA ESCONDIDA,Puerto Gaitán,Meta,Aeródromo,4.6108,-71.1935,PALMAS SICARARE S.A.S.,...,NaN,564.0,"1843,000",2013-04-26,2016-05-07,1A,Fumigación,30.0,50,50568
3,3,7FW,NaN,MORICHITO,Hato Corozal,Casanare,Aeródromo,5.9188,-71.7932,CARMEN NARANJO,...,NaN,720.0,"2220,000",2009-05-07,NaN,1A,Privado,NaN,85,85125
4,4,7FX,NaN,CAROLINA DEL PRINCIPE,Carolina,Antioquia,Aeródromo,6.7248,-75.2909,MUNICIPIO,...,NaN,6004.0,"6470,000",2013-11-19,NaN,1A,Público,NaN,5,5150

In [3]:
historico.head()

,ano,mes,origen,destino,tipo_equipo,tipo_vuelo,trafico,empresa,vuelos,sillas,carga_ofrecida,pasajeros,carga_bordo
0,2004,1,BOG,MIA,A306,R,I,AMERICAN,32,8000,362880.0,6423,226429.0
1,2004,2,BOG,MIA,A306,R,I,AMERICAN,29,7743,328860.0,4107,237123.0
2,2004,3,BOG,MIA,A306,R,I,AMERICAN,31,8277,351540.0,4332,269443.0
3,2004,4,BOG,MIA,A306,R,I,AMERICAN,30,8010,340200.0,4207,255167.0
4,2004,5,BOG,MIA,A306,R,I,AMERICAN,1,267,11340.0,156,10175.0

### Remover inconsistencias en la tabla de históricos

In [25]:
aero_sigle = aero['sigla']
origen_column = historico['origen']
destino_column = historico['destino']

# peajes = peajes.loc[peajes['nombre'].isin(iterable_recaudo)]

origen_vector = historico['origen'].isin(aero_sigle)
destino_vector = historico['destino'].isin(aero_sigle)

ambas = origen_vector & destino_vector
historico_coherente = historico.loc[ambas]

print('El número de registros en históricos con '
      'datos de origen y destino en aeropuertos es: '
      '',ambas.values.sum())
print('El número de registros a eliminar de históricos por'
      'inconsistencias es: ',historico.shape[0] - ambas.values.sum()) #Registros a eliminar en histórico

print(len(origen_vector), len(destino_vector))
print(historico_coherente.shape[0])

499372
106076
605448 605448
499372

### Códigos de aeropuertos en históricos sin entradas en la tabla de aeropuertos

In [70]:
origen_incoherente = historico.loc[~origen_vector]['origen']
destino_incoherente = historico.loc[~destino_vector]['destino']

columna_incoherente = pd.concat([origen_incoherente,
                                 destino_incoherente],
                                axis=0, ignore_index=True)

print('Número de aeropuertos en tabla de aeropuertos'
      '', aero.shape[0])
print('Número de códigos únicos de aeropuertos '
      'en histórico sin referencia a tabla aeropuertos: '
      '', len(columna_incoherente.unique()))

codigos_totales = pd.concat([historico['origen'],
                                 historico['destino']],
                                axis=0, ignore_index=True)
print('Número de códigos únicos de aeropuertos '
      'en histórico: '
      '', len(codigos_totales.unique()))

Número de aeropuertos en tabla de aeropuertos 862
Número de códigos únicos de aeropuertos en histórico sin referencia a tabla aeropuertos:  509
Número de códigos únicos de aeropuertos en histórico:  1229

Descomentar código para ver aeropuertos en histórico sin referencia al archivo
principal de Aeropuertos

In [ ]:
# columna_incoherente.unique()

### Verificación de número de aeropuertos sin datos en históricos

In [80]:
aero_vector = aero['sigla'].isin(origen_column) | aero['sigla'].isin(destino_column)
print('El número de aeropuertos sin datos en la tabla de históricos es: '
      '', (~aero_vector).values.sum())
print('Aeropuertos totales en tabla de aeropuertos: ',
      aero.shape[0])
print('\nAeropuertos sin datos en histórico')
aero.loc[(~aero_vector)]['sigla'].unique()

El número de aeropuertos sin datos en la tabla de históricos es:  142
Aeropuertos totales en tabla de aeropuertos:  862

Aeropuertos sin datos en histórico

array(['7FW', '7FX', '7FY', '7GA', '7GB', '7GE', '7GK', '7GN', '7GP',
       '7GQ', '7GU', '7GX', '7HA', '7HH', '7HK', '7HL', '7HO', '7HQ',
       '7HR', '7HS', '7HU', '7HW', '7HY', '7HZ', '7IC', '7IE', '7II',
       '7NP', '9AA', '9AD', '9AH', '9AU', '9AX', '9BC', '9BG', '9BK',
       '9BN', '9BP', '9BR', '9BT', '9BX', '9CK', '9CP', '9CQ', '9DC',
       '9DG', '9DH', '9DJ', '9DK', '9DL', '9DM', '9DO', '9DP', '9LD',
       '9LG', '9LH', '9LJ', '9LK', '9LL', '9LN', '9LP', '9LR', '9LT',
       '9LU', '9LX', '9LY', '9LZ', '9MA', '9MB', '9MC', '9MD', '9ME',
       '9MG', '9MH', '9MI', '9MJ', '9MK', '9ML', '9MM', '9MN', '9MO',
       '9MP', '9MR', '9MT', '9MV', '9MX', '9MY', '9MZ', '9NA', '9NC',
       '9ND', '9NE', '9NF', '9NH', '9NI', '9NJ', '9NK', '9NL', 'ACP',
       'AER', 'AMA', 'BAL', 'BAN', 'BNI', 'BNP', 'BYA', 'CST', 'CUT',
       'ECM', 'EEA', 'EET', 'EGY', 'ELZ', 'ESS', 'FEO', 'FNO', 'FUR',
       'GUN', 'HEV', 'HOB', 'HRA', 'JDI', 'LAF', 'LAY', 'LMS', 'LMT',
       'LSI', 'NUA', 'NUE', 'NYY', 'PAO', 'PIV', 'POL', 'PRL', 'SAM',
       'SDA', 'SJT', 'SLR', 'TSI', 'VAV', 'VLE', 'VVJ'], dtype=object)

### Escritura de nuevos archivos sin inconsistencias

In [108]:
# Aeropuertos sin inchoerencias
aero_v2 = aero.loc[aero_vector].reset_index(drop=True)
aero_v2.drop([aero_v2.columns[0]], axis=1)
aero_v2.to_csv('./datos_modificados/aeropuertos_v2.csv')

historico_v1 = historico_coherente.reset_index(drop=True)
historico_v1.to_csv('./datos_modificados/aeropuertos_historico_v1.csv')

## Contar primary keys de tabla hecho

In [21]:
historico_v1 = pd.read_csv('./datos_modificados/aeropuertos_historico_v1.csv')

sinDuplicados = historico_v1.drop_duplicates(subset=['ano', 'mes', 'origen', 'destino', 'tipo_equipo', 'tipo_vuelo', 'empresa']
                                              , keep='first', ignore_index=True)
# count = historico_v1.groupby(['ano', 'mes', 'origen', 'destino', 'tipo_equipo', 'tipo_vuelo'], axis=0).count()
print('numero original', historico_v1.shape[0])
print('Numero', sinDuplicados.shape[0])

numero original 499372
Numero 499372

## Concatenar columnas de fechas

In [22]:
historico_v1['cod_fecha'] = historico_v1['ano'].astype(str) + '_' + historico_v1['mes'].astype(str)
historico_v1.drop(columns=['ano', 'mes'], inplace=True)
historico_v1.drop(columns=historico_v1.columns[0], inplace=True)

historico_v1.head()

,origen,destino,tipo_equipo,tipo_vuelo,trafico,empresa,vuelos,sillas,carga_ofrecida,pasajeros,carga_bordo,cod_fecha
0,AXM,BOG,BE20,T,N,APSA,1,0,0.0,8,200.0,2004_5
1,BAQ,BOG,BE20,T,N,APSA,2,0,0.0,6,50.0,2004_11
2,BMG,BOG,BE20,T,N,APSA,2,0,0.0,10,240.0,2004_8
3,BOG,AXM,BE20,T,N,APSA,1,0,0.0,8,200.0,2004_5
4,BOG,BAQ,BE20,T,N,APSA,2,0,0.0,5,138.0,2004_11

#### Guardar

In [23]:
historico_v1.to_csv('./datos_modificados/aeropuertos_historico_v2.csv')

## Crear tabla fecha

In [39]:
historico_v2 = pd.read_csv('./datos_modificados/aeropuertos_historico_v2.csv')

min = historico_v2['cod_fecha'].min()
max = historico_v2['cod_fecha'].max()

print('Min', min, 'Max', max)
print(min[5:])

print(2//4 + 1)

Min 2004_1 Max 2018_9
1
1

In [54]:
x = []
meses = ['Enero','Febreo','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']
m = 0;

anioInit, mesInit = int(min[0:4]), int(min[5:])
anioFin,  mesFin = int(max[0:4]), int(max[5:])

# print((anioFin-anioInit)*12+mesFin+(12-mesInit+1))

for i in range(1, (anioFin-anioInit-1)*12+mesFin+(12-mesInit+1)+1):
    anio = anioInit + (i-mesInit+1)//12
    mesNumber = (i-1)%12 + 1
    mes = meses[mesNumber - 1]
    semestre = 1 if mesNumber <=6 else 2
    cuad = 1 if mesNumber <= 4 else (2 if mesNumber <=8 else 3)
    tri = (mesNumber-1)//3 +1
    cod_fecha = f'{anio}_{mesNumber}'
    x.append([cod_fecha,anio,semestre,cuad,tri,mes, mesNumber])

fechas = pd.DataFrame(x, columns = ['Cod_fecha', 'Anio', 'Semestre', 'Cuatrimestre','Trimestre', 'Mes', 'Mes_numerico'])
fechas.head(15)

fechas.to_csv('./datos_modificados/fechas_v1.csv')